#buscador{
    display: flex;
    justify-content: right;
}
#image1{
    height: 300px;
    width: 450px;
}
#image2{
    height: 300px;
    width: 450px;
}
#image3{
    height: 300px;
    width: 450px;
}
#workoutvideo{
    width: 285px;
}
#cardbody1{
    height: 300px;
    width: 300px;
}
#cardbody2{
    height: 300px;
    width: 300px;
}
#cardbody3{
    height: 300px;
    width: 300px;
}
#cardbody4{
    height: 300px;
    width: 400px;
}
